/* Main content styling for Our Vision */
#home-vision-content {
    background-color: var(--background-overlay);
    padding: 30px;
    margin: 20px;
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
    text-align: center;
}

#home-vision-content h1 {
    font-size: var(--h1-font-size);
    color: var(--primary-color);
    margin-bottom: 20px;
}

#home-vision-content p {
    font-size: var(--p-font-size);
    color: var(--secondary-color);
    margin-bottom: 20px;
}

#home-vision-content h2 {
    font-size: var(--h2-font-size);
    color: var(--primary-color);
    margin-bottom: 15px;
}

#home-vision-content ul {
    list-style: none;
    padding: 0;
}

#home-vision-content li {
    font-size: var(--p-font-size);
    color: var(--primary-color);
    margin: 10px 0;
    position: relative;
    padding-left: 20px;
}

#home-vision-content li::before {
    content: "✔"; /* Checkmark icon for list items */
    position: absolute;
    left: 0;
    color: var(--primary-color);
}

/* Styles for the "More" button */
#moreBtn {
    color: blue;
    cursor: pointer;
    text-decoration: underline;
    margin-top: 20px;
}

/* Initially hide the additional content */
#moreContent {
    display: none;
}


#language-buttons {
    text-align: center;
    margin: 20px 0;
}

#language-buttons button {
    margin: 0 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: 2px solid var(--primary-color);
    border-radius: 5px;
    background-color: var(--background-overlay);
    color: var(--primary-color);
    transition: background-color 0.3s, color 0.3s;
}

#language-buttons button:hover {
    background-color: var(--primary-color);
    color: var(--background-overlay);
}

#language-buttons button:focus {
    outline: none;
    box-shadow: 0 0 5px var(--primary-color);
}
/* Responsive Design */
@media (max-width: 768px) {
    #home-vision-content {
        padding: 20px;
        margin: 15px;
    }

    #home-vision-content h1 {
        font-size: var(--h2-font-size);
    }

    #home-vision-content h2 {
        font-size: var(--h3-font-size);
    }
}

@media (max-width: 480px) {
    #home-vision-content {
        padding: 15px;
        margin: 10px;
    }

    #home-vision-content h1 {
        font-size: var(--h3-font-size);
    }

    #home-vision-content h2 {
        font-size: var(--p-font-size);
    }
}
