/* Main content styling for Madrasa History */
#madrasa-history-content {
    background-color: var(--background-overlay);
    padding: 30px;
    margin: 20px;
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
    text-align: center;
}

#madrasa-history-content h1 {
    font-size: var(--h1-font-size);
    color: var(--primary-color);
    margin-bottom: 20px;
}

#madrasa-history-content p {
    font-size: var(--p-font-size);
    color: var(--secondary-color);
    margin-bottom: 20px;
}

#hafezzi-details {
    margin-top: 20px;
}

#hafezzi-details img {
    width: 200px; /* Adjust the image size as needed */
    height: auto;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
}

#madrasa-history-content h2 {
    font-size: var(--h2-font-size);
    color: var(--primary-color);
    margin-top: 20px;
    margin-bottom: 10px;
}

#madrasa-history-content span {
    font-weight: bold;
    color: #FF4500; /* Color for the land donor's name */
}

/* Responsive Design */
@media (max-width: 768px) {
    #madrasa-history-content {
        padding: 20px;
        margin: 15px;
    }

    #madrasa-history-content h1 {
        font-size: var(--h2-font-size);
    }

    #madrasa-history-content h2 {
        font-size: var(--h3-font-size);
    }
}

@media (max-width: 480px) {
    #madrasa-history-content {
        padding: 15px;
        margin: 10px;
    }

    #madrasa-history-content h1 {
        font-size: var(--h3-font-size);
    }

    #madrasa-history-content h2 {
        font-size: var(--p-font-size);
    }
}
